# Extracting rows and columns from DataFrames

In [3]:
# import pandas library
import pandas as pd

In [4]:
# import the data
safi = pd.read_csv('data/SAFI_clean.csv')

In [5]:
# check whether data are loaded correctly by printing first few rows
safi.head()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,NaN,NaN,4,motorcyle;radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [6]:
# extracting the column 'village'
safi['village']

0           God
1           God
2           God
3           God
4           God
5           God
6           God
7      Chirodzo
8      Chirodzo
9      Chirodzo
10          God
11          God
12          God
13          God
14          God
15          God
16          God
17          God
18          God
19          God
20          God
21          God
22        Ruaca
23        Ruaca
24        Ruaca
25        Ruaca
26        Ruaca
27        Ruaca
28        Ruaca
29        Ruaca
         ...
101       Ruaca
102         God
103         God
104       Ruaca
105       Ruaca
106       Ruaca
107       Ruaca
108       Ruaca
109       Ruaca
110         God
111       Ruaca
112       Ruaca
113       Ruaca
114       Ruaca
115       Ruaca
116         God
117         God
118       Ruaca
119       Ruaca
120       Ruaca
121       Ruaca
122       Ruaca
123       Ruaca
124       Ruaca
125    Chirodzo
126       Ruaca
127       Ruaca
128       Ruaca
129    Chirodzo
130    Chirodzo
Name: village, Length: 131, dtype: object

In [7]:
# alternative method for extracting the column 'village'
safi.village

0           God
1           God
2           God
3           God
4           God
5           God
6           God
7      Chirodzo
8      Chirodzo
9      Chirodzo
10          God
11          God
12          God
13          God
14          God
15          God
16          God
17          God
18          God
19          God
20          God
21          God
22        Ruaca
23        Ruaca
24        Ruaca
25        Ruaca
26        Ruaca
27        Ruaca
28        Ruaca
29        Ruaca
         ...
101       Ruaca
102         God
103         God
104       Ruaca
105       Ruaca
106       Ruaca
107       Ruaca
108       Ruaca
109       Ruaca
110         God
111       Ruaca
112       Ruaca
113       Ruaca
114       Ruaca
115       Ruaca
116         God
117         God
118       Ruaca
119       Ruaca
120       Ruaca
121       Ruaca
122       Ruaca
123       Ruaca
124       Ruaca
125    Chirodzo
126       Ruaca
127       Ruaca
128       Ruaca
129    Chirodzo
130    Chirodzo
Name: village, Length: 131, dtype: object

In [8]:
# extracting 2 columns by putting a list [...,...] within the []
safi[['village', 'rooms']]

      village  rooms
0         God      1
1         God      1
2         God      1
3         God      1
4         God      1
5         God      1
6         God      1
7    Chirodzo      3
8    Chirodzo      1
9    Chirodzo      5
10        God      1
11        God      3
12        God      1
13        God      3
14        God      2
15        God      1
16        God      1
17        God      1
18        God      2
19        God      1
20        God      1
21        God      1
22      Ruaca      4
23      Ruaca      2
24      Ruaca      3
25      Ruaca      2
26      Ruaca      2
27      Ruaca      1
28      Ruaca      2
29      Ruaca      2
..        ...    ...
101     Ruaca      1
102       God      5
103       God      1
104     Ruaca      3
105     Ruaca      3
106     Ruaca      1
107     Ruaca      1
108     Ruaca      1
109     Ruaca      2
110       God      2
111     Ruaca      3
112     Ruaca      4
113     Ruaca      4
114     Ruaca      2
115     Ruaca      1
116       God      1
117       God      2
118     Ruaca      1
119     Ruaca      1
120     Ruaca      1
121     Ruaca      2
122     Ruaca      1
123     Ruaca      1
124     Ruaca      4
125  Chirodzo      1
126     Ruaca      1
127     Ruaca      3
128     Ruaca      1
129  Chirodzo      2
130  Chirodzo      2

[131 rows x 2 columns]

In [10]:
# extracting rows 0 to 4, but not including 4 (remember python starts counting at 0!)
safi[0:4]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973

In [12]:
# using iloc (integer based location) to extract rows 0 to 4 not including 4 (i.e. 0,1,2,3) and columns 1 to 4 not including 4 (1,2,3)
safi.iloc[0:4,1:4]

  village        interview_date  no_membrs
0     God  2016-11-17T00:00:00Z          3
1     God  2016-11-17T00:00:00Z          7
2     God  2016-11-17T00:00:00Z         10
3     God  2016-11-17T00:00:00Z          7

In [13]:
# using loc to extract rows and columns by name, the name of the rows is the index, 
# the index is the very first column in safi, it does not have a name and is not included in the count of columns!
# using loc returns all rows/columns that are asked for, because here the numbers 0:4 refer to the name of the rows,
# i.e. the index and not the integer based position like with iloc
safi.loc[0:4, ['village','no_membrs']]

  village  no_membrs
0     God          3
1     God          7
2     God         10
3     God          7
4     God          7

In [14]:
# extracting all rows and column 'village'
safi.loc[:,'village']

0           God
1           God
2           God
3           God
4           God
5           God
6           God
7      Chirodzo
8      Chirodzo
9      Chirodzo
10          God
11          God
12          God
13          God
14          God
15          God
16          God
17          God
18          God
19          God
20          God
21          God
22        Ruaca
23        Ruaca
24        Ruaca
25        Ruaca
26        Ruaca
27        Ruaca
28        Ruaca
29        Ruaca
         ...
101       Ruaca
102         God
103         God
104       Ruaca
105       Ruaca
106       Ruaca
107       Ruaca
108       Ruaca
109       Ruaca
110         God
111       Ruaca
112       Ruaca
113       Ruaca
114       Ruaca
115       Ruaca
116         God
117         God
118       Ruaca
119       Ruaca
120       Ruaca
121       Ruaca
122       Ruaca
123       Ruaca
124       Ruaca
125    Chirodzo
126       Ruaca
127       Ruaca
128       Ruaca
129    Chirodzo
130    Chirodzo
Name: village, Length: 131, dtype: object

# %load code/pdindex
See what happens when you try each of the following:

1. List the columns you want out of order from the way they appear in the file?
2. What happens if we put the same column name in twice?
3. What does python do if you use a non-existing column name? (a.k.a Typo)
4. Use help to figure out how to select a range of columns
5. How can you select only the first row?
6. What about the last 3 rows?

### Solutions to exercise

In [23]:
# 1. columns will be returned in the order they are listed
print(safi[['no_membrs', 'village']])

     no_membrs   village
0            3       God
1            7       God
2           10       God
3            7       God
4            7       God
5            3       God
6            6       God
7           12  Chirodzo
8            8  Chirodzo
9           12  Chirodzo
10           6       God
11           7       God
12           6       God
13          10       God
14           5       God
15           6       God
16           8       God
17           4       God
18           9       God
19           6       God
20           8       God
21           4       God
22          10     Ruaca
23           6     Ruaca
24          11     Ruaca
25           3     Ruaca
26           7     Ruaca
27           2     Ruaca
28           7     Ruaca
29           7     Ruaca
..         ...       ...
101          6     Ruaca
102         15       God
103          4       God
104          6     Ruaca
105         11     Ruaca
106          5     Ruaca
107          5     Ruaca
108          3     Ruaca
109          4     Ruaca
110         15       God
111          5     Ruaca
112         10     Ruaca
113          7     Ruaca
114         10     Ruaca
115          7     Ruaca
116          4       God
117          7       God
118          9     Ruaca
119         11     Ruaca
120          8     Ruaca
121         12     Ruaca
122          7     Ruaca
123         15     Ruaca
124         10     Ruaca
125          9  Chirodzo
126          3     Ruaca
127          7     Ruaca
128          4     Ruaca
129          7  Chirodzo
130          8  Chirodzo

[131 rows x 2 columns]

In [24]:
# 2. column listed twice will be returned twice
print(safi[['no_membrs', 'village', 'no_membrs']])

     no_membrs   village  no_membrs
0            3       God          3
1            7       God          7
2           10       God         10
3            7       God          7
4            7       God          7
5            3       God          3
6            6       God          6
7           12  Chirodzo         12
8            8  Chirodzo          8
9           12  Chirodzo         12
10           6       God          6
11           7       God          7
12           6       God          6
13          10       God         10
14           5       God          5
15           6       God          6
16           8       God          8
17           4       God          4
18           9       God          9
19           6       God          6
20           8       God          8
21           4       God          4
22          10     Ruaca         10
23           6     Ruaca          6
24          11     Ruaca         11
25           3     Ruaca          3
26           7     Ruaca          7
27           2     Ruaca          2
28           7     Ruaca          7
29           7     Ruaca          7
..         ...       ...        ...
101          6     Ruaca          6
102         15       God         15
103          4       God          4
104          6     Ruaca          6
105         11     Ruaca         11
106          5     Ruaca          5
107          5     Ruaca          5
108          3     Ruaca          3
109          4     Ruaca          4
110         15       God         15
111          5     Ruaca          5
112         10     Ruaca         10
113          7     Ruaca          7
114         10     Ruaca         10
115          7     Ruaca          7
116          4       God          4
117          7       God          7
118          9     Ruaca          9
119         11     Ruaca         11
120          8     Ruaca          8
121         12     Ruaca         12
122          7     Ruaca          7
123         15     Ruaca         15
124         10     Ruaca         10
125          9  Chirodzo          9
126          3     Ruaca          3
127          7     Ruaca          7
128          4     Ruaca          4
129          7  Chirodzo          7
130          8  Chirodzo          8

[131 rows x 3 columns]

In [20]:
# 3. if you use a non existing column you will get an error message --> it says 'KeyError'
print(safi[['no_members', 'village']])

KeyError: "['no_members'] not in index"

In [26]:
# 4.
print(safi.iloc[:,2:5])

           interview_date  no_membrs  years_liv
0    2016-11-17T00:00:00Z          3          4
1    2016-11-17T00:00:00Z          7          9
2    2016-11-17T00:00:00Z         10         15
3    2016-11-17T00:00:00Z          7          6
4    2016-11-17T00:00:00Z          7         40
5    2016-11-17T00:00:00Z          3          3
6    2016-11-17T00:00:00Z          6         38
7    2016-11-16T00:00:00Z         12         70
8    2016-11-16T00:00:00Z          8          6
9    2016-12-16T00:00:00Z         12         23
10   2016-11-21T00:00:00Z          6         20
11   2016-11-21T00:00:00Z          7         20
12   2016-11-21T00:00:00Z          6          8
13   2016-11-21T00:00:00Z         10         20
14   2016-11-21T00:00:00Z          5         30
15   2016-11-24T00:00:00Z          6         47
16   2016-11-21T00:00:00Z          8         20
17   2016-11-21T00:00:00Z          4         20
18   2016-11-21T00:00:00Z          9         23
19   2016-11-21T00:00:00Z          6          1
20   2016-11-21T00:00:00Z          8         20
21   2016-11-21T00:00:00Z          4         20
22   2016-11-21T00:00:00Z         10         20
23   2016-11-21T00:00:00Z          6          4
24   2016-11-21T00:00:00Z         11          6
25   2016-11-21T00:00:00Z          3         20
26   2016-11-21T00:00:00Z          7         36
27   2016-11-21T00:00:00Z          2          2
28   2016-11-21T00:00:00Z          7         10
29   2016-11-21T00:00:00Z          7         22
..                    ...        ...        ...
101  2017-04-28T00:00:00Z          6         40
102  2017-04-30T00:00:00Z         15         22
103  2017-05-03T00:00:00Z          4         12
104  2017-05-03T00:00:00Z          6         22
105  2017-05-03T00:00:00Z         11         26
106  2017-05-04T00:00:00Z          5         25
107  2017-05-04T00:00:00Z          5         14
108  2017-05-04T00:00:00Z          3         14
109  2017-05-11T00:00:00Z          4         16
110  2017-05-11T00:00:00Z         15         22
111  2017-05-11T00:00:00Z          5         25
112  2017-05-11T00:00:00Z         10         28
113  2017-05-18T00:00:00Z          7          5
114  2017-05-18T00:00:00Z         10         24
115  2017-05-18T00:00:00Z          7          8
116  2017-05-18T00:00:00Z          4         24
117  2017-06-03T00:00:00Z          7         13
118  2017-06-03T00:00:00Z          9         14
119  2017-06-03T00:00:00Z         11         16
120  2017-06-03T00:00:00Z          8         24
121  2017-06-03T00:00:00Z         12         25
122  2017-06-03T00:00:00Z          7         36
123  2017-06-03T00:00:00Z         15         16
124  2017-06-03T00:00:00Z         10          5
125  2017-06-03T00:00:00Z          9         20
126  2017-05-18T00:00:00Z          3          7
127  2017-06-04T00:00:00Z          7         10
128  2017-06-04T00:00:00Z          4          5
129  2017-06-04T00:00:00Z          7         17
130  2017-06-04T00:00:00Z          8         20

[131 rows x 3 columns]

In [27]:
# 5. You get an error if you only specify ‘1’. You need to use ‘:1’ or ‘0:1’ to get the first row returned. 
# The ‘:’ is always required. You can use ‘:’ by itself to return all of the rows
print(safi[0:1])

   key_ID village        interview_date  no_membrs  years_liv  \
0       1     God  2016-11-17T00:00:00Z          3          4

  respondent_wall_type  rooms memb_assoc affect_conflicts  liv_count  \
0              muddaub      1        NaN              NaN          1

                            items_owned  no_meals months_lack_food  \
0  bicycle;television;solar_panel;table         2              Jan

                                  instanceID
0  uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
key_ID                                                          1
village                                                       God
interview_date                               2016-11-17T00:00:00Z
no_membrs                                                       3
years_liv                                                       4
respondent_wall_type                                      muddaub
rooms                                                           1
memb_assoc                                                    NaN
affect_conflicts                                              NaN
liv_count                                                       1
items_owned                  bicycle;television;solar_panel;table
no_meals                                                        2
months_lack_food                                              Jan
instanceID              uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
Name: 0, dtype: object

In [ ]:
# 5. an alternative is to iloc, then you can use 0 for the first row
print(safi.iloc[0])

In [28]:
# 6. you can use the function len(safi) to return the last row or tail()
safi[len(safi)-3:len(safi)]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

In [29]:
# 6. using tail
safi.tail(3)

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
129,199,Chirodzo,2017-06-04T00:00:00Z,7,17,burntbricks,2,yes,more_once,2,cow_cart;lorry;motorcyle;computer;television;r...,3,Nov;Dec,uuid:ffc83162-ff24-4a87-8709-eff17abc0b3b
130,200,Chirodzo,2017-06-04T00:00:00Z,8,20,burntbricks,2,NaN,NaN,3,radio;cow_plough;solar_panel;solar_torch;table...,3,Oct;Nov,uuid:aa77a0d7-7142-41c8-b494-483a5b68d8a7

## Conditional subsetting
using conditions, such as all rows where villag is Ruaca or all rows where rooms are more than (>) 3 ...

In [15]:
# only return rows where village is Ruaca
ruaca = safi[(safi['village'] == 'Ruaca')]

In [13]:
ruaca

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
22,23,Ruaca,2016-11-21T00:00:00Z,10,20,burntbricks,4,NaN,NaN,3,cow_cart;bicycle;television;radio;cow_plough;s...,3,none,uuid:58b37b6d-d6cd-4414-8790-b9c68bca98de
23,24,Ruaca,2016-11-21T00:00:00Z,6,4,burntbricks,2,no,never,3,radio;table;sofa_set;mobile_phone,2,Nov;Dec,uuid:661457d3-7e61-45e8-a238-7415e7548f82
24,25,Ruaca,2016-11-21T00:00:00Z,11,6,burntbricks,3,no,never,2,cow_cart;motorcyle;television;radio;cow_plough...,2,Jan;Feb;Oct,uuid:45ed84c4-114e-4df0-9f5d-c800806c2bee
25,26,Ruaca,2016-11-21T00:00:00Z,3,20,burntbricks,2,no,never,2,radio;cow_plough;table;mobile_phone,2,none,uuid:1c54ee24-22c4-4ee9-b1ad-42d483c08e2e
26,27,Ruaca,2016-11-21T00:00:00Z,7,36,burntbricks,2,NaN,NaN,3,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,none,uuid:3197cded-1fdc-4c0c-9b10-cfcc0bf49c4d
27,28,Ruaca,2016-11-21T00:00:00Z,2,2,muddaub,1,no,more_once,1,NaN,3,Aug;Sept;Oct,uuid:1de53318-a8cf-4736-99b1-8239f8822473
28,29,Ruaca,2016-11-21T00:00:00Z,7,10,burntbricks,2,yes,frequently,1,motorcyle;bicycle;radio;table;mobile_phone,3,Jan;Feb,uuid:adcd7463-8943-4c67-b25f-f72311409476
29,30,Ruaca,2016-11-21T00:00:00Z,7,22,muddaub,2,NaN,NaN,1,bicycle;radio;mobile_phone,2,Jan;Feb,uuid:59341ead-92be-45a9-8545-6edf9f94fdc6
30,31,Ruaca,2016-11-21T00:00:00Z,3,2,muddaub,1,NaN,NaN,1,NaN,3,none,uuid:cb06eb49-dd39-4150-8bbe-a599e074afe8
31,32,Ruaca,2016-11-21T00:00:00Z,19,69,muddaub,2,yes,more_once,5,cow_cart;motorcyle;radio;cow_plough;solar_pane...,2,none,uuid:25597af3-cd79-449c-a48a-fb9aea6c48bf
32,33,Ruaca,2016-11-21T00:00:00Z,8,34,muddaub,1,no,more_once,2,cow_cart;lorry;motorcyle;sterio;cow_plough;sol...,2,none,uuid:0fbd2df1-2640-4550-9fbd-7317feaa4758
70,71,Ruaca,2016-11-18T00:00:00Z,6,14,burntbricks,1,yes,more_once,3,radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:761f9c49-ec93-4932-ba4c-cc7b78dfcef1
72,133,Ruaca,2016-11-23T00:00:00Z,5,25,burntbricks,2,no,never,5,cow_cart;car;lorry;motorcyle;bicycle;televisio...,3,Jan;Oct;Nov,uuid:429d279a-a519-4dcc-9f64-4673b0fd5d53
73,152,Ruaca,2016-11-24T00:00:00Z,10,16,burntbricks,1,yes,once,3,motorcyle;bicycle;radio;sterio;cow_plough;sola...,3,none,uuid:59738c17-1cda-49ee-a563-acd76f6bc487
74,153,Ruaca,2016-11-24T00:00:00Z,5,41,burntbricks,1,NaN,NaN,1,NaN,2,Oct;Nov,uuid:7e7961ca-fa1c-4567-9bfa-a02f876e4e03
76,178,Ruaca,2016-11-25T00:00:00Z,5,79,burntbricks,2,yes,frequently,3,radio;cow_plough;solar_panel;mobile_phone,3,none,uuid:2186e2ec-f65a-47cc-9bc1-a0f36dd9591c
78,180,Ruaca,2016-11-25T00:00:00Z,7,50,muddaub,1,no,never,3,cow_plough;solar_panel,3,Oct;Nov,uuid:ece89122-ea99-4378-b67e-a170127ec4e6
89,72,Ruaca,2017-04-26T00:00:00Z,6,24,muddaub,1,yes,more_once,3,bicycle;radio;cow_plough,2,Jan;Aug;Sept;Oct;Nov;Dec,uuid:c4a2c982-244e-45a5-aa4b-71fa53f99e18
90,73,Ruaca,2017-04-26T00:00:00Z,7,9,burntbricks,2,yes,more_once,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,Jan;Sept;Oct,uuid:ac3da862-9e6c-4962-94b6-f4c31624f207
91,76,Ruaca,2017-04-26T00:00:00Z,17,48,burntbricks,2,yes,more_once,4,bicycle;radio;cow_plough;solar_panel;mobile_phone,3,none,uuid:4178a296-903a-4a8e-9cfa-0cd6143476e8
92,83,Ruaca,2017-04-27T00:00:00Z,5,22,burntbricks,1,yes,never,2,radio;cow_plough;solar_torch,2,Aug;Sept;Oct,uuid:a1e9df00-c8ae-411c-931c-c7df898c68d0
93,85,Ruaca,2017-04-27T00:00:00Z,7,40,sunbricks,1,no,never,2,radio;cow_plough,2,Oct;Nov,uuid:4d0f472b-f8ae-4026-87c9-6b5be14b0a70
96,103,Ruaca,2017-04-27T00:00:00Z,6,96,sunbricks,1,no,never,5,cow_cart;cow_plough;solar_panel;sofa_set;mobil...,3,Jan;Feb;Dec,uuid:e9d79844-ef14-493b-bbd6-d13691cc660e
97,102,Ruaca,2017-04-28T00:00:00Z,12,15,burntbricks,2,yes,frequently,2,cow_plough;table;sofa_set;mobile_phone,3,Jan;Feb,uuid:76206b0b-af74-4344-b24f-81e839f0d7b0
98,78,Ruaca,2017-04-28T00:00:00Z,6,48,burntbricks,1,no,more_once,2,cow_plough,2,Aug;Sept;Oct,uuid:da3fa7cc-5ce9-44fd-9a78-b8982b607515
99,80,Ruaca,2017-04-28T00:00:00Z,5,12,muddaub,1,no,more_once,1,cow_cart;bicycle;radio;cow_plough;solar_panel;...,3,none,uuid:a85df6df-0336-46fa-a9f4-522bf6f8b438
100,104,Ruaca,2017-04-28T00:00:00Z,14,52,sunbricks,1,yes,never,4,cow_cart;bicycle;cow_plough,3,Jan;Feb;Dec,uuid:bb2bb365-7d7d-4fe9-9353-b21269676119
101,105,Ruaca,2017-04-28T00:00:00Z,6,40,sunbricks,1,yes,frequently,2,motorcyle;radio;cow_plough;solar_panel;mobile_...,3,Jan;Feb;Dec,uuid:af0904ee-4fdb-4090-973f-599c81ddf022
104,110,Ruaca,2017-05-03T00:00:00Z,6,22,sunbricks,3,no,never,3,bicycle;radio;cow_plough;table;mobile_phone,2,none,uuid:e7c51ac4-24e4-475e-88e7-f85e896945e3
105,113,Ruaca,2017-05-03T00:00:00Z,11,26,burntbricks,3,no,never,4,cow_cart;motorcyle;bicycle;radio;cow_plough;so...,3,none,uuid:01210861-aba1-4268-98d0-0260e05f5155
106,118,Ruaca,2017-05-04T00:00:00Z,5,25,muddaub,1,NaN,NaN,1,radio;solar_torch;mobile_phone,3,Oct;Nov;Dec,uuid:77335b2e-8812-4a35-b1e5-ca9ab626dfea
107,125,Ruaca,2017-05-04T00:00:00Z,5,14,burntbricks,1,no,more_once,2,bicycle;radio;cow_plough;solar_panel;solar_tor...,3,Jan;Sept;Oct;Nov;Dec,uuid:02b05c68-302e-4e7a-b229-81cb1377fd29
108,119,Ruaca,2017-05-04T00:00:00Z,3,14,muddaub,1,no,never,4,bicycle;cow_plough;solar_panel;mobile_phone,3,none,uuid:fa201fce-4e94-44b8-b435-c558c2e1ed55
109,115,Ruaca,2017-05-11T00:00:00Z,4,16,sunbricks,2,NaN,NaN,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:628fe23d-188f-43e4-a203-a4bf3257d461
111,116,Ruaca,2017-05-11T00:00:00Z,5,25,burntbricks,3,NaN,NaN,3,motorcyle;bicycle;television;radio;cow_plough;...,3,Jan;Nov;Dec,uuid:cfee6297-2c0e-4f8a-94cc-9aaee0bd64cb
112,117,Ruaca,2017-05-11T00:00:00Z,10,28,muddaub,4,NaN,NaN,1,motorcyle;television;radio;solar_panel;solar_t...,3,Jan;Feb;Nov;Dec,uuid:3fe626b3-c794-48e1-a80f-5bfe440c507b
113,144,Ruaca,2017-05-18T00:00:00Z,7,5,burntbricks,4,no,frequently,4,cow_cart;television;radio;cow_plough;solar_pan...,2,none,uuid:0670cef6-d233-4852-89d8-36955261b0a3
114,143,Ruaca,2017-05-18T00:00:00Z,10,24,burntbricks,2,no,frequently,3,cow_cart;motorcyle;television;radio;cow_plough...,3,Jan;Dec,uuid:9a096a12-b335-468c-b3cc-1191180d62de
115,150,Ruaca,2017-05-18T00:00:00Z,7,8,muddaub,1,no,never,1,mobile_phone,3,Sept;Oct;Nov,uuid:92613d0d-e7b1-4d62-8ea4-451d7cd0a982
118,165,Ruaca,2017-06-03T00:00:00Z,9,14,burntbricks,1,no,never,3,cow_cart;motorcyle;bicycle;television;radio;co...,3,none,uuid:62f3f7af-f0f3-4f88-b9e0-acf8baa49ae4
119,166,Ruaca,2017-06-03T00:00:00Z,11,16,muddaub,1,no,never,1,bicycle;solar_torch;mobile_phone,2,Feb;Mar,uuid:40aac732-94df-496c-97ba-5b67f59bcc7a
120,167,Ruaca,2017-06-03T00:00:00Z,8,24,muddaub,1,no,never,3,motorcyle;radio;cow_plough;solar_panel;solar_t...,2,Jan;Nov;Dec,uuid:a9d1a013-043b-475d-a71b-77ed80abe970
121,174,Ruaca,2017-06-03T00:00:00Z,12,25,burntbricks,2,no,never,3,car;lorry;motorcyle;radio;sterio;cow_plough;so...,3,Jan;Feb;Dec,uuid:43ec6132-478c-4f87-878d-fb3c0c4d0c74
122,175,Ruaca,2017-06-03T00:00:00Z,7,36,burntbricks,1,no,never,4,motorcyle;bicycle;radio;sterio;cow_plough;sola...,2,Jan;Oct;Nov;Dec,uuid:64fc743e-8176-40f6-8ae4-36ae97fac1d9
123,189,Ruaca,2017-06-03T00:00:00Z,15,16,sunbricks,1,no,never,3,motorcyle;radio;sterio;cow_plough;solar_panel;...,3,Nov,uuid:c17e374c-280b-4e78-bf21-74a7c1c73492
124,191,Ruaca,2017-06-03T00:00:00Z,10,5,burntbricks,4,no,never,1,radio;cow_plough;solar_panel;solar_torch;mobil...,2,Oct;Nov;Dec,uuid:dad53aff-b520-4015-a9e3-f5fdf9168fe1
126,126,Ruaca,2017-05-18T00:00:00Z,3,7,burntbricks,1,no,more_once,3,motorcyle;radio;solar_panel,3,Oct;Nov;Dec,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
127,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,car;lorry;television;radio;sterio;cow_plough;s...,3,none,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
128,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf

In [14]:
ruaca.shape

(49, 14)

In [16]:
# combine two conditions --> return rows where village is Ruaca and no_membrs are more than 15
safi[(safi['village'] == 'Ruaca') & (safi['no_membrs'] > 15)]

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
31,32,Ruaca,2016-11-21T00:00:00Z,19,69,muddaub,2,yes,more_once,5,cow_cart;motorcyle;radio;cow_plough;solar_pane...,2,none,uuid:25597af3-cd79-449c-a48a-fb9aea6c48bf
91,76,Ruaca,2017-04-26T00:00:00Z,17,48,burntbricks,2,yes,more_once,4,bicycle;radio;cow_plough;solar_panel;mobile_phone,3,none,uuid:4178a296-903a-4a8e-9cfa-0cd6143476e8

In [17]:
# combine the previous selection with selection of columns by adding the 'command' for 
# selecting columns ([[...,...]]) at the end
safi[(safi['village'] == 'Ruaca') & (safi['no_membrs'] > 15)][['rooms','respondent_wall_type']]

    rooms respondent_wall_type
31      2              muddaub
91      2          burntbricks